
/* About */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, h6 {
  text-transform: uppercase;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 500;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}

section.resume-section .resume-section-content {
  width: 100%;
}



@media (max-width: 475px) {
  section.resume-section {
    min-height: 100vh;
    background-image: url(images/IMG_4472.jpg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position:center 20%;
    background-attachment: scroll;
  }
  .resume-section-text {
    padding-top: 70%;
  }
}

@media (width: 768px) {
  section.resume-section {
    min-height: 100vh;
    background-image: url(images/IMG_4472.jpg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position:80% 62%;
    background-attachment: scroll;
  }
    
}
@media (max-width: 474px) {
  section.resume-section {
    min-height: 100vh;
  }
  .resume-section-text {
    font-size: 35px;
  }
  p.lead {
    font-size: 12px;
    font-weight: 350;
  }
  .subheading {
    font-weight: 500;
    font-size: 13px;
  }

}
@media (min-width: 475px) {
  section.resume-section {
    min-height: 100vh;
  }
  p.lead {
    font-size: 10px;
    font-weight: 350;
  }
  .subheading {
    font-weight: 500;
    font-size: 12px;
  }
  .resume-section-text {
    font-size: 4rem;
  }

}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  .resume-section-text {
    font-size: 4.5rem;
  }
  p.lead {
    font-size: 1.5rem;
    font-weight: 350;
  }
  .subheading {
    font-weight: 500;
    font-size: 1.7rem;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .resume-section-text {
    font-size: 5rem;
  }
}

@media (min-width: 1368px) {
  p.lead {
    font-size: 1.5rem;
    font-weight: 450;
  }
  .subheading {
    font-weight: 550;
    font-size: 1.75rem;
  }
  .social-icons .social-icon {
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    margin-right: 2.5rem;
  }
  .resume-section-text {
    font-size: 5rem;
  }
}  
  


/* page */
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 18rem;
  } 
}
@media (min-width: 1368px) {
  body {
    padding-top: 0;
    padding-left: 20rem;
  } 
}


/* navbar*/

@media (min-width: 992px) {
  #sideNav {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 25rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-align: right;
    padding-right: 45px;
  }
  .navbar-nav {
    font-size: 17px;
  }
}

@media (min-width: 1368px) {
  #sideNav {
    width: 20rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 12rem;
    max-height: 27rem;
  }
  .navbar-nav {
    font-size: 18px;
  }
}




/* <!-- <portfolio> --> */
.portfolio, h1{
  color: #3a1d1a;
}

.card-body {
  position: relative;
}

.card-body div {
  margin-bottom: 50px;
}
.linkBtn {
  position: absolute;
  right: 22%;
  bottom: 10px;
}

.card-text {
  text-align: left;
  font-size: 18px;
}



/* <!-- <Travel> --> */

.section-title, h1 {
  color: #3a1d1a;
  padding-bottom: 10px;
}
.team-row{
  margin-top: 3rem;
}
.singl-teams{
  border:2px solid #EEEEEE;
}
.team-img {
  object-fit: cover;
}
.travel-content{
  padding:0 2rem;
}
.travel-content .travel-div {
  max-width:150px;
  border: 3px solid #495057;
  padding: 1.2rem;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  background:  #f3e4db;
}
.travel-content p {
  margin: unset;
  font-size: 15px;
  color: #495057;
}
.travel-content .batton{
  margin:3rem 0;
}

.batton{ 
  bottom: 0;
}
/* 
@media (max-width: 992px) {
  .singl-teams{
    height: 10px;
    width: 170px;
  }

  .travel-content .travel-div {
    max-width:150px;
    border: 3px solid #495057;
    padding: 1.2rem;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    background:  #f3e4db;
  }
  .travel-content p {
    font-size: 11px;
  }
  .travel-area{
    left: 30px;
  }



} */



 /* <!-- <Eduation> --> */
.Eduation, h1 {
  color: #3a1d1a;
  padding-bottom: 10px;
}
h1::after {
  content: "  ";
  background: #3a1d1a;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.col-md-4 {
  margin: 40px auto;
}
.profile {
  padding: 10px 10px;
  background-color: #f3e4db;
  border-radius:5%
}
.profile img {
  left: calc(50% -60px);
  border: 1px dashed white;
  padding: 3px;
}
.school {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
blockquote {
  font-size: 16px;
  line-height: 30px;
}
blockquote::before {
  content: '\201C';
  font-size: 50px;
  position: relative;
  color: #3a1d1a;
  bottom: -15px;
  right: 5px;
}
blockquote::after {
  content: '\201D';
  font-size: 50px;
  position: relative;
  color: #3a1d1a;
  bottom: -15px;
  left: 5px;
}
.profile:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer
}

.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(images/phpmRp0rx.jpg);
  border-radius:5%
}
.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(images/626a69f508fa0946257956.jpg);
  border-radius:5%
}
.bg-cover {
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
}








 /* <interests> */
 .interests, h1{
  color: #3a1d1a;
  padding-bottom: 10px;
}

.card-img, .card1-img{
  height: 300px;
  transition: .5s;
  cursor: pointer;
}
.card-img h2, .card1-img h2{
  background-color: rgba(255, 255, 255, 0.329);
  transition: .3s;
}
.card-img:nth-child(1){
  background: url(images/IMG_7075_Original.jpg) center/cover;
}
.card-img:nth-child(1):hover{
  background: url(images/IMG_7075_Original.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card-img:nth-child(1):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}
.card-img:nth-child(2){
  background: url(images/IMG_3948.jpg) center/cover;
}
.card-img:nth-child(2):hover{
  background: url(images/IMG_3948.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card-img:nth-child(2):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}
.card-img:nth-child(3){
  background: url(images/IMG_3945.jpg) center/cover;
}
.card-img:nth-child(3):hover{
  background: url(images/IMG_3945.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card-img:nth-child(3):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}

.card1-img:nth-child(1){
  background: url(images/IMG_7147_Original.jpg) center/cover;
}
.card1-img:nth-child(1):hover{
  background: url(images/IMG_7147_Original.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card1-img:nth-child(1):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}

.card1-img:nth-child(2){
  background: url(images/IMG_3950.jpg) center/cover;
}
.card1-img:nth-child(2):hover{
  background: url(images/IMG_3950.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card1-img:nth-child(2):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}

.interests a {
  text-decoration: none;
}







/* <!-- <contact> --> */
.col-12, h1{
  color: #3a1d1a;
  padding-bottom: 10px;
}


