
/* About */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, h6 {
  text-transform: uppercase;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 500;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  max-width: 75rem;
}

section.resume-section .resume-section-content {
  width: 100%;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* page */
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  } 
}


/* navbar*/

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: right;
  padding-right: 45px;
}



@media (min-width: 992px) {
  #sideNav {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 25rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
}


/* <!-- <Travel> --> */

.section-title, h1 {
  color: #3a1d1a;
  padding-bottom: 10px;
}
.team-row{
  margin-top: 3rem;
}
.singl-teams{
  border:2px solid #EEEEEE;
}
.team-img {
  object-fit: cover;
}
.travel-content{
  padding:0 2rem;
}
.travel-content .travel-div {
  max-width:150px;
  border: 3px solid #495057;
  padding: 1.2rem;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  background:  #f3e4db;
}
.travel-content p {
  margin: unset;
  font-size: 15px;
  color: #495057;
}
.travel-content .batton{
  margin:3rem 0;
}

.batton{ 
  bottom: 0;
}


 /* <!-- <Eduation> --> */
.Eduation, h1 {
  color: #3a1d1a;
  padding-bottom: 10px;
}
h1::after {
  content: "  ";
  background: #3a1d1a;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.col-md-4 {
  margin: 40px auto;
}
.profile {
  padding: 10px 10px;
  background-color: #f3e4db;
  border-radius:5%
}
.profile img {
  left: calc(50% -60px);
  border: 1px dashed white;
  padding: 3px;
}
.school {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
blockquote {
  font-size: 16px;
  line-height: 30px;
}
blockquote::before {
  content: '\201C';
  font-size: 50px;
  position: relative;
  color: #3a1d1a;
  bottom: -15px;
  right: 5px;
}
blockquote::after {
  content: '\201D';
  font-size: 50px;
  position: relative;
  color: #3a1d1a;
  bottom: -15px;
  left: 5px;
}
.profile:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer
}

.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(images/phpmRp0rx.jpg);
  border-radius:5%
}
.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(images/626a69f508fa0946257956.jpg);
  border-radius:5%
}
.bg-cover {
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
}








 /* <interests> */
 .interests, h1{
  color: #3a1d1a;
  padding-bottom: 10px;
}

.card-img, .card1-img{
  height: 300px;
  transition: .5s;
  cursor: pointer;
}
.card-img h2, .card1-img h2{
  background-color: rgba(255, 255, 255, 0.329);
  transition: .3s;
}
.card-img:nth-child(1){
  background: url(images/IMG_7075_Original.jpg) center/cover;
}
.card-img:nth-child(1):hover{
  background: url(images/IMG_7075_Original.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card-img:nth-child(1):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}
.card-img:nth-child(2){
  background: url(images/IMG_3948.jpg) center/cover;
}
.card-img:nth-child(2):hover{
  background: url(images/IMG_3948.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card-img:nth-child(2):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}
.card-img:nth-child(3){
  background: url(images/IMG_3945.jpg) center/cover;
}
.card-img:nth-child(3):hover{
  background: url(images/IMG_3945.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card-img:nth-child(3):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}

.card1-img:nth-child(1){
  background: url(images/IMG_7147_Original.jpg) center/cover;
}
.card1-img:nth-child(1):hover{
  background: url(images/IMG_7147_Original.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card1-img:nth-child(1):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}

.card1-img:nth-child(2){
  background: url(images/IMG_3950.jpg) center/cover;
}
.card1-img:nth-child(2):hover{
  background: url(images/IMG_3950.jpg) center/contain rgba(0, 0, 0, 0.329);
  background-blend-mode: color;
}
.card1-img:nth-child(2):hover h2{
  background-color:rgba(255, 255, 255, 0.534) ;
}

.interests a {
  text-decoration: none;
}



/* <!-- <portfolio> --> */
.portfolio, h1{
  color: #3a1d1a;
}

.card-body {
  position: relative;
}

.card-body div {
  margin-bottom: 50px;
}
.linkBtn {
  position: absolute;
  right: 22%;
  bottom: 10px;
}

.card-text {
  text-align: left;
  font-size: 18px;
}



/* <!-- <contact> --> */
.col-12, h1{
  color: #3a1d1a;
  padding-bottom: 10px;
}


/* <!-- <phone> --> */
@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --bs-gutter-x: 0;
  }
  .g-sm-0,
  .gy-sm-0 {
    --bs-gutter-y: 0;
  }
  .g-sm-1,
  .gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-sm-1,
  .gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-sm-2,
  .gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-sm-3,
  .gx-sm-3 {
    --bs-gutter-x: 1rem;
  }
  .g-sm-3,
  .gy-sm-3 {
    --bs-gutter-y: 1rem;
  }
  .g-sm-4,
  .gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-sm-4,
  .gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-sm-5,
  .gx-sm-5 {
    --bs-gutter-x: 3rem;
  }
  .g-sm-5,
  .gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (min-width: 576px) {
  .dropdown-menu-sm-start {
    --bs-position: start;
  }
  .dropdown-menu-sm-start[data-bs-popper] {
    right: auto;
    left: 0;
  }
  .dropdown-menu-sm-end {
    --bs-position: end;
  }
  .dropdown-menu-sm-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-sm .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
  .navbar-expand-sm .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand-sm .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-expand-sm .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}
@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header,
  .modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
}